annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.111.0
fastapi-cli==0.0.24
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.27.0
idna==3.17
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
numpy==2.4.6
orjson==3.11.9
pandas==2.2.2
pyarrow==16.1.0
pydantic==2.7.2
pydantic_core==2.18.3
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.29
pytz==2026.2
PyYAML==6.0.3
requests==2.32.3
rich==15.0.0
rich-toolkit==0.19.10
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
starlette==0.37.2
typer==0.26.3
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.12.1
urllib3==2.7.0
uvicorn==0.30.1
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
